extends layouts/application

block title
    title Лев Александров | Front-end dev | Главная

block main
    h1 Скоро здесь появится сайт. А пока вы можете связаться со мной в&nbsp;
        a(href='https://t.me/smolenskbear') telegram
        | &#32; или написав на&#32;
        a(href='mailto:levaaleksandrow@yandex.ru') levaaleksandrow&shy;@yandex.ru
    p Аутсорс фронтенд разработки и менеджмент проектов
